*{
    margin: 0;padding: 0;box-sizing: border-box;
    
}
.wrapper{
    width: 1348px;
    height:4300px;
    overflow: hidden;
    position: relative;
    margin: 0px auto ;
  
   
}
.wrapper .main-header{
    height:60px;
   background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRiUVWSW0Uaog7GGKtpbvt18KQBWKax2R6Q2g&usqp=CAU);
  background-size: cover ;
   display:flex;
    flex-direction: row;
    background-repeat: no-repeat;
    
}

.wrapper .main-header .wrap-hambuger{
    width:200px;
    height:100%;
   
    display:flex;
    display:none;
    position: absolute;
   left:200px;
}
.wrapper .main-header .wrap-hambuger i{
    font-size: 30px;

}
.wrapper .main-header .wrap-hambuger .fa{
    position: relative;top:17px;left:10px;
}
.wrapper .main-header .wrap-hambuger .fas{
    position: relative;top:17px;left:70px;
}
.wrapper .main-header .small-nav{
    width:300px;
    height:300px;
    position: absolute;
    display:none;
    top:60px ;
    z-index:20;
    left:60px;
    background-color: rgb(245, 245, 245);
    text-align: center;
    justify-content: center;
    list-style-type: none;
    box-shadow: 0px 0px 6px #333 ;
    animation: zoom 0.4s ease-in-out;
    -webkit-animation: zoom 0.4s ease-in-out;
}
@keyframes zoom {
    0%{
        transform: scale(0 );
        -webkit-transform: scale(0 );
        -moz-transform: scale(0 );
        -ms-transform: scale(0 );
        -o-transform: scale(0 );
}
100%{
    transform: scale(1);
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
}
}
@-moz-keyframes zoom {
    0%{
        transform: scale(0 );
        -webkit-transform: scale(0 );
        -moz-transform: scale(0 );
        -ms-transform: scale(0 );
        -o-transform: scale(0 );
}
100%{
    transform: scale(1 );
    -webkit-transform: scale(1 );
    -moz-transform: scale(1 );
    -ms-transform: scale(1 );
    -o-transform: scale(1 );
}

}
.wrapper .main-header .small-nav .small-li{
    line-height: 50px ;
}
.wrapper .main-header .small-nav .small-li a{
    font-size: 23px ;
    text-decoration: none;
    color:black;

}

.wrapper .sticky{
    position: fixed;
    top:0;
   
    z-index:10;width:100%;
}
.wrapper .main-header .header-left{
    width:30% ;
    height:100%;
    position:relative;
    display: flex;
}
.wrapper .main-header .header-left img{
    width:40%;height:100%;
}
.wrapper .main-header .header-left h1{
font-weight: bold;
text-transform: uppercase;
position: relative;line-height: 60px;
left:0px;
color: rgb(255, 255, 255);
}
.wrapper .main-header .header-right{
    width:70%;
    height:100%;position: relative;
   padding-left: 160px;
}
.wrapper .main-header .header-right .main-ul{
    display: flex;flex-direction: row;
list-style-type: none;
}
.wrapper .main-header .header-right .main-ul .main-li{
    padding:13px 15px;
    line-height: 30px ;
}
.wrapper .main-header .header-right .main-ul .main-li a{
    text-decoration: none;font-size: 20px;
    color:#ffffff;
}
.wrapper .main-header .header-right .main-ul .main-li a .fa{
    font-size: 36px;
}
.wrapper .main-header .header-right .main-ul .main-li a .fa:hover{
    color:red;
}
.wrapper .main-header .header-right .main-ul .main-li a:hover{
    text-decoration: underline;
}
.wrapper .content{
    width:100vw;
    height:89%;
 
}
.wrapper .content .first-div .first-div-left h2{
    position: relative;top:70px;color: rgb(255, 253, 253);
}
.wrapper .content .first-div{
    width:100vw;
    height:460px;
   
    background-size: cover ;
    background-position: center  ;
    background-repeat:no-repeat ;
    padding-top:10px;
    padding-left: 30px ;
    background-image :url(https://wallpaperaccess.com/full/345330.jpg);
    border-radius:0px 0px 10px 10px  ;
    -webkit-border-radius:0px 0px 10px 10px  ;
    -moz-border-radius:0px 0px 10px 10px  ;
    -ms-border-radius:0px 0px 10px 10px  ;
    -o-border-radius:0px 0px 10px 10px  ;
}

.wrapper .content .first-div .cover-h1 h1{
    font-size: 54px;font-family: 'Dancing Script', cursive;
    position: relative;
    color: rgb(7, 248, 216);
    font-weight: bolder;
}
.wrapper .content .first-div .cover-h1{
    background-color:transparent;
    width:430px;
    height:200px;
    position: relative;top:70px;
    cursor: default;
    
}
.wrapper .content .first-div .shopnow{
    width:140px;
    height:40px;
    border: 1px solid rgb(250, 39, 39);
    border-radius: 13px ;
    -webkit-border-radius: 16px ;
    -moz-border-radius: 13px ;
    -ms-border-radius: 13px ;
    -o-border-radius: 13px ;
    
   text-align: center;
    cursor: pointer ;
    position: relative;
    top:80px;
    background-color: #FC7978 ;
}
.wrapper .content .first-div .shopnow h3{
    color:#ffffff; 
    position: relative;top:7px;
}
.wrapper .content .first-div .shopnow:hover{
background-color: #fc6b6b ;
}



.wrapper .content .colection{
    width:100%;
    height:100px;
   background-color: rgb(255, 255, 255);
}
.wrapper .content .colection-wrap{
    display: flex;
}


.wrapper .content .colection .colection-item{
   position: relative;
   padding-top: 30px ;width: 100%;height:100%;
   display: flex;padding-left: 30px ;
}

.wrapper .content .colection .colection-item .elementor-icon{
   
    background-color: rgb(206, 190, 190);
    width:40px;
    height:40px;
    border-radius:50%;
    -webkit-border-radius:50%;
    -moz-border-radius:50%;
    -ms-border-radius:50%;
    -o-border-radius:50%;
    justify-content: center;
    text-align: center;
    font-size: 26px;color:green;

}
.wrapper .content .colection .colection-item .detail-colection-item
{
    font-weight: 100;font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding-left: 10px ;
}
.wrapper .content .colection .plant-colection .detail-colection-item h4
{
color:grey;font-weight: normal;
}



.wrapper .content .colection .colection-item .elementor-icon i{
    position: relative;top:6px;
}
.wrapper .content .second-colection{
    display: flex;flex-direction: row;background-color: rgb(255, 255, 255);
    height:560px;
    padding-top: 50px ;
    justify-content: center;
  

}
.wrapper .content .second-colection .colection-item{
        width:360px ;
        box-shadow: 0 0 5px #333;
        height:80%;
        margin:10px;
       
        background-size: contain;
        background-repeat: no-repeat;
        position: relative;
       
        border-radius: 10px;
        -webkit-border-radius: 10px;
        -moz-border-radius: 10px;
        -ms-border-radius: 10px;
        -o-border-radius: 10px;
        transition:all 0.4s ease-in-out ;
        -webkit-transition:all 0.4s ease-in-out ;
        -moz-transition:all 0.4s ease-in-out ;
        -ms-transition:all 0.4s ease-in-out ;
        -o-transition:all 0.4s ease-in-out ;
      
}

.wrapper .content .second-colection .colection-item .colection-item-text{
    height:90px;width:100%;position: relative;
    top:272px;padding: 10px 12px;
    font-weight: 100;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}

.wrapper .content .second-colection .colection-item:hover{
box-shadow: 0 0 10px #333;

}

.wrapper .content .second-colection .colection-item .colection-item-text a{
    text-decoration: none;position: relative;top:20px;
    color:#fc6b6b;
    font-weight: bold;
}

.wrapper .content .second-colection .colection-item .colection-item-text a:hover{
    color:black;
}


.wrapper .content .featured-plants{
    width:100%;height:900px;
    position: relative;

   
background: rgb(255, 255, 254);

}
.wrapper .content .featured-plants .featured-plants-text{
width:100% ;text-align: center;

}
.wrapper .content .featured-plants .featured-plants-text h1{
    font-weight: 900;
    font-family: 'Poppins',sans-serif;
}
.wrapper .content .featured-plants .featured-plants-text p{
    font-size: 19px;
    font-family: 'roboto'
}
.wrapper .content .featured-plants .feature-plants-produces{
    display: grid;
  grid-template-columns: 25% 25% 25% 25% ;
  grid-gap: 10px 10px;
  background: rgb(255, 255, 255);
  height:93%;
 padding:40px;
}
.wrapper .content .featured-plants .feature-plants-produces .thumbnail{
  
  height:100%;
  width:100%; padding:20px;
 
  position: relative;

}
.wrapper .content .featured-plants .feature-plants-produces .thumbnail a >img{
    width:100%;
    object-fit:contain;
    height:100%;
    position: relative;bottom:37px;

}
.wrapper .content .featured-plants .feature-plants-produces .thumbnail .produce-text{
    position: absolute  ;
  
    background-color:transparent;
left:0px;top:254px;

   
}
.wrapper .content .featured-plants .feature-plants-produces .thumbnail .produce-text .rating



{
    color:#fc6b6b;
}




.wrapper .content .featured-plants .feature-plants-produces .thumbnail .produce-text p
{
    font-family: 'Poppins',sans-serif;
    font-weight: 500;
}

.wrapper .content .featured-plants .feature-plants-produces .thumbnail .produce-text .name{
    font-family:'roboto';
   color:gray;
}

.wrapper .content .featured-plants .feature-plants-produces .thumbnail .produce-text .price{
   font-family: 'Times New Roman', Times, serif;
 font-weight: bolder;
 color:#333;
 font-size: 17px;
 
}
.wrapper .content .need-help-wrap,
.wrapper .content .hot-girls-wrap{
width:100%;
}
.wrapper .content .need-help{
   
    height:400px;
    background-color: rgb(255, 255, 255);
    display: flex;flex-direction: row;
}
.wrapper .content .need-help .need-help-left{
width:30%;padding-top:100px;
padding-left:60px;

}
.wrapper .content .need-help .need-help-left a{
    transition: all 0.6s ease ;
    text-decoration: none;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color:#fc6b6b;
    -webkit-transition: all 0.6s ease ;
    -moz-transition: all 0.6s ease ;
    -ms-transition: all 0.6s ease ;
    -o-transition: all 0.6s ease ;
    position: relative;top:50px;
}
.wrapper .content .need-help .need-help-left a:hover{
 
    color:#302e2e;
}

.wrapper .content .need-help .need-help-right{
    width:60%;padding-top:100px;
    
}
.wrapper .content .need-help .need-help-right p{
    font-size: 22px;
}
.wrapper .content .hot-girls{
   
    height:660px;
    background-color: rgb(255, 255, 255);
    display: flex;flex-direction: row;
    padding:20px;
}

.wrapper .content .hot-girls .one-girl{
width:45%;
height:100%;


}
.wrapper .content .hot-girls .one-girl .main-text{
   
    padding:10px 20px;
    height:170px;
}
.wrapper .content .hot-girls .one-girl .main-text h1{
    text-transform: uppercase;
}
.wrapper .content .hot-girls .one-girl .main-text p{
    position: relative;top:30px;
    font-size: 20px;
}
.wrapper .content .hot-girls .one-girl .widget-girl-cover{
    width:100%;
    height:300px;
    display:flex;
   
    box-sizing: border-box;
    position: relative;top:60px;

}
.wrapper .content .hot-girls .one-girl .widget-girl-cover .wrap-girl-img{
    width:80%;
    height:100%;
    object-fit: cover;
   
   
}
.wrapper .content .hot-girls .one-girl .widget-girl-cover .wrap-girl-img img{
    width:100%;height:100%;
object-fit: cover;  border-radius: 30px ;
-webkit-border-radius: 30px ;
-moz-border-radius: 30px ;
-ms-border-radius: 30px ;
-o-border-radius: 30px ;
}

.wrapper .content .hot-girls .one-girl .widget-girl-cover .wrap-text{
   position: relative;
  width:100%;
   top:20px;box-sizing: border-box;
   padding:20px;
}
.wrapper .content .hot-girls .one-girl .widget-girl-cover .wrap-text p{
    font-size: 20px;color:rgb(107, 102, 102);
}
.wrapper .content .hot-girls .one-girl .widget-girl-cover .wrap-text .wrap-infor{
    position: relative;top:70px;
}
.wrapper .content .hot-girls .one-girl .widget-girl-cover .wrap-text .wrap-infor h4{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bolder;
}

.wrapper .content .hot-girls .two-girl{
width:50%;
height:100%;
}

.wrapper .content .hot-girls .two-girl .widget-girl-cover{
    width:100%;
    height:260px;
    display:flex;
   
    box-sizing: border-box;
    position: relative;top:60px;

}

.wrapper .content .hot-girls .two-girl .widget-girl-cover .wrap-girl-img{
    width:50%;
    height:100%;
    object-fit: cover;
}

.wrapper .content .hot-girls .two-girl .widget-girl-cover .wrap-girl-img img
{
    width:90%;
    height:90%;
    object-fit: cover;
    border-radius:16px  ;
    -webkit-border-radius:16px  ;
    -moz-border-radius:16px  ;
    -ms-border-radius:16px  ;
    -o-border-radius:16px  ;
}


.wrapper .content .hot-girls .two-girl .widget-girl-cover .wrap-text{
    position: relative;
   width:100%;
    top:20px;box-sizing: border-box;
    padding:20px;
 }

 
 .wrapper .content .hot-girls .two-girl .widget-girl-cover .wrap-text p
 {
     font-size: 20px;color:rgb(107, 102, 102);
 }

 
 .wrapper .content .hot-girls .two-girl .widget-girl-cover .wrap-text .wrap-infor
 {
     position: relative;top:70px;
 }

 
 .wrapper .content .hot-girls .two-girl .widget-girl-cover .wrap-text .wrap-infor h4
 {
     font-family: Verdana, Geneva, Tahoma, sans-serif;
     font-weight: bolder;
 }

.wrapper .content .shop-down{
    width:100%;height:400px;
    background-color: rgb(255, 255, 255);
    justify-content: center;
    text-align: center;
    justify-self: center;
    justify-items: center;
}
.wrapper .content .shop-down .shop-down-text{
   width:500px;
  
  position: relative;
  left:400px;
}
.wrapper .content .shop-down .shop-down-text h1{
font-size: 40px ;
}
.wrapper .content .shop-down .divp {
width:650px;
position: relative;
left:320px;
top:20px;

}
.wrapper .content .shop-down .divp p{
    font-size: 20px;
}
.wrapper .content .shop-down .go-shop{
    width:140px;
    height:43px;
    background: #FC7978;
    position: relative;
    left:560px;
    top:80px;
    padding-top: 10px;
    border-radius: 15px ;
    -webkit-border-radius: 15px ;
    -moz-border-radius: 15px ;
    -ms-border-radius: 15px ;
    -o-border-radius: 15px ;
    font-size: 20px;
    cursor: pointer;
    color:white;
    
}
.wrapper .content .shop-down .go-shop:hover{
    background-color: #fd6b6b;
}
.footer{
    display:flex;
    flex-direction: row;
    background: rgb(255, 255, 255);
    width:100%;
    height:11%;
    justify-content: center;
    position: relative;
}
.footer .footer-item1{
    padding-top: 30px;
    width:30%;
    height:80%;
  
}
.footer .footer-item1 p{
position: relative;top:40px;
font-size: 20px;
}
.footer .footer-item2{
    padding-top: 30px ;
    width:20%;
    height:80%;
  
    justify-content: center;
    text-align: center;
    }
 .footer .footer-item2>img{
     width:100px;height:100px;

 }
 .footer .footer-item2 .footer-ul{
     display: flex;list-style-type: none;
 
   width:100%;
     text-align: center;
   
     justify-content: center;
 }
 .footer .footer-item2 .footer-ul .footer-li{
   background-color: #fff;
   padding: 10px 10px ;

    
 }

.footer .footer-item3{
 width:20%;
     height:80%;
   
 text-align: center;
 justify-content: center;
 padding-top: 30px ;
 
    }
    .footer .footer-item3 .item3-ul,
    .footer .footer-item4 .item4-ul
    {
list-style-type: none;
    }
    .footer .footer-item3 .item3-ul .item3-li,
    .footer .footer-item4 .item4-ul .item4-li
    {
        padding-top:14px;
     font-size:17px;
    }
    .footer .footer-item3 .item3-ul .item3-li a,
    .footer .footer-item4 .item4-ul .item4-li a
    {
        text-decoration: none;
        color:#302e2e;
    }
    .footer .footer-item3 .item3-ul .item3-li a:hover,
    .footer .footer-item4 .item4-ul .item4-li a:hover
    {
        color:rgb(7, 247, 19);
    }
  .footer .footer-item4{
      padding-top: 30px ;
   width:20%;
  height:80%;
 
  text-align: center;
  justify-content: center;
  }
  
 
.footer .copyright{
    position: absolute;
   
    width:100%;
    height:30px;
 top:400px;
}
.footer .copyright p{
    font-size: 18px;
}


@media only screen and (max-width: 739px){
    .wrapper{
        height:6900px;
    }
    .wrapper .main-header .wrap-hambuger{
        display:block;

    }
    .wrapper  .main-header{
        background: rgb(255, 255, 255);
    }
  .wrapper  .main-header .header-left {
width:50%;

    }
   .wrapper .main-header .header-left h1{
       font-size: 18px;
        left:0px;
    }
    .wrapper .main-header .header-right{
        width:50%;
    }
  .wrapper  .main-header .header-right ul li a{
display: none;
    }
    .wrapper .content{
        height:89%;
    }
    .wrapper .content .first-div{
        height:300px;
      
    }
    .wrapper .content .first-div .cover-h1{
        width:200px;
    }
    .wrapper .content .first-div .cover-h1 h1{
        font-size: 30px ;color:#07d8e7;
    }
    .wrapper .content .first-div .first-div-left h2{
        font-size: 19px;
    }
    .wrapper .content .first-div .shopnow{
        top:4px;left:170px;
    }
    .wrapper .content .colection{
        display:flex;
        flex-direction: column;
        height:214px;
    }
   
    .wrapper .content .second-colection {
        display: flex;flex-direction: column;
        height:600px;
    }
  
    .wrapper .content .second-colection .colection-item
    {
        height:100%;
        left:0px ;
        box-shadow: 0px 0px 0px #fff;
    }

    .wrapper .content .second-colection .colection-item:hover
    {
        
        box-shadow: 0px 0px 0px #fff;
    }
    
    .wrapper .content .second-colection .colection-item .colection-item-text
    {
        top:0;left:132px;
        width:60%;
    }
    .wrapper .content .second-colection .colection-item .colection-item-text h3{
        font-family: 'Dancing Script', cursive;font-size: 20px;
    }
    .wrapper .content .featured-plants .feature-plants-produces{
        display:flex;
        flex-direction: column;
    }
    .wrapper .content .featured-plants{
        height:2695px;
    }
    .wrapper .content .featured-plants .feature-plants-produces .thumbnail{
        height:100%;width:100%;
        padding:0;
    }
    .wrapper .content .featured-plants .feature-plants-produces .thumbnail a>img{
        width:100%;
    }
    .wrapper .content .featured-plants .feature-plants-produces .thumbnail .produce-text{
        left:0px;
        top:166px;
    }
   
.wrapper .content .need-help{
   height:600px;
    display: flex;flex-direction: column;
}
.wrapper .content .need-help .need-help-left{
    width:100%;padding-top:0px;
    height:50%;padding-left: 10px;
}

.wrapper .content .need-help .need-help-right{
width:100%;
padding-left:8px;
padding-top:0px;
}
.wrapper .content .hot-girls{
    display: flex;flex-direction: column;
    height:1400px;
}
.wrapper .content .hot-girls .one-girl{
    width:100%;
    height:74%;
}
.wrapper .content .hot-girls .two-girl{
    width:100%;height:70%;
   
}

 .wrapper .content .hot-girls .two-girl .widget-girl-cover .wrap-text .wrap-infor{
top:10px;
}
 
.wrapper .content .hot-girls .two-girl .widget-girl-cover .wrap-girl-img img{
width:100%;
}

 
.wrapper .content .hot-girls .two-girl .widget-girl-cover .wrap-text{
padding:10px;
left:20px;
}

.wrapper .content .shop-down .divp{
    left:0px;width:330px;top:0;
}
.wrapper .content .shop-down .shop-down-text{
    left:10px;width:320px;
}
.wrapper .content .shop-down .shop-down-text h1{
    font-size: 26px;
}
.wrapper .content .shop-down{
    height:400px;
}
.wrapper .content .shop-down .go-shop{
    left:112px;
    top:60px;
}
.footer{
    display: flex;flex-direction: column;
   
}
.footer .footer-item1 p{
    top:0px;
}
.footer .footer-item1{
    width:100%;
    padding-left:12px;
}
.footer .footer-item2{
    width:100%;padding-top: 0px ;
}
.footer .footer-item2 .footer-ul{
  width:100%;
  text-align: center;
  justify-content: center;
}
.footer .footer-item3{
    width:100%;padding-top: 0px;
}
.footer .footer-item4{
    width:100%;padding-top: 0px;
}
.footer .copyright{
    top:740px;
}
}




@media only screen and (min-width:740px) and (max-width:1023px){
    .wrapper{
        height:5900px;
    }
    .wrapper .main-header .header-right{
        padding-left:0px;
    }
    .wrapper .main-header .header-left h1{
        font-size: 18px;
    }
    .wrapper .main-header .header-right .main-ul .main-li a{
        font-size: 15px; font-weight: bold;
    }
    .wrapper .content .colection .colection-item {
        padding-left:0px;
    }
    
     .wrapper .content .colection .colection-item .detail-colection-item h3 {
        font-size: 14px;
        font-weight: bold;
    }
    
    .wrapper .content .colection .colection-item .detail-colection-item h4{
        font-size: 12px;
        font-weight: 100;
    }
    .wrapper .content .second-colection{
        display: grid; grid-template-columns: auto auto ;height:1000px;
    }
    .wrapper .content .second-colection .colection-item{
        left:0px;height:60%;
    }
    .wrapper .content .second-colection .colection-item .colection-item-text{
        top:50px; width:50%;left:190px;
    }
    .wrapper .content .featured-plants .feature-plants-produces{
        display: grid; grid-template-columns: auto auto ;
        grid-gap:0px 0px;
    }
    .wrapper .content .featured-plants{
        height:1700px;
    }
    .wrapper .content .hot-girls .two-girl .widget-girl-cover .wrap-text{
        top:0px;
    }
    .wrapper .content .hot-girls .two-girl .widget-girl-cover .wrap-text .wrap-infor{
        top:10px;
    }
    .wrapper .content .shop-down .shop-down-text{
        left:90px;
    }
    .wrapper .content .shop-down .divp{
        left:60px;
    }
    .wrapper .content .shop-down .go-shop{
        left:300px;
    }
}
@media only screen and (min-width: 1024px){
.wrapper{
    min-width:1144px;
    margin:0px auto;
  
}
}